<h2>Username: <%= @user.username %></h2>
<h2>email: <%= @user.email %></h2>

<% @all_stats.each do |game, cards| %>
  <dl class="profile-stats-card"><%= "Game #{game.grab_deck_name} played on #{game.updated_at}" %>
  <% cards.each do |card| %>
    <dt><%= "#{card.question}"%></dt>
    <dd><%= "#{card.answer}" %></dd>
  <% end %>
  </dl>
<% end %>
