<h3>New card for Deck <%= @deck.name %></h3>
<form id="add-card" action "/cards" method="post">
  <input type="hidden", name="deck_id" value=<%= @deck.id %>>
  <input type="text", name="card[question]", placeholder="Question" required>
  <input type="text", name="card[answer]", placeholder="Answer" required>
  <input type="submit", value="submit">
</form>

  <dl id="card-list">Card list
    <% if @deck.cards.any? %>
      <% @deck.cards.each do |card| %>
        <%= "<dt>#{card.question}</dt>" %>
        <%= "<dd>#{card.answer}</dd>" %>
      <% end %>
    <% end %>
  </dl>

  <form id="card-add-done" action="/decks/<%= @deck.id %>" method="get">
    <input type="submit" value="DONE?">
  </form>
